# Игнорировать директорию виртуального окружения
venv/

# Игнорировать файлы и директории, созданные при выполнении программы
__pycache__/
*.py[cod]

# Игнорировать файлы настроек IDE и редакторов кода
.idea/
.vscode/
*.sublime-workspace

# Игнорировать файлы и директории, созданные при сборке документации
docs/_build/

# Игнорировать файлы и директории, созданные при тестировании
tests/__pycache__/
tests/*.py[cod]
.tox/

kubectl
